<%- include('layout/header') -%>

  <body>
    <div class="container">
<!-- sidebar -->
    <%- include("sidebar/sAddFood")-%>

<!-- main content -->
    <section id="addFood">
      <h2>Add Consumable</h2>


    </section>

    </div>

  </body>
</html>
