<%- include('layout/header') -%>
  </head>
  <body>
    <div class="container">
<!-- sidebar -->
      <%- include('sidebar/sAddWorkout') -%>

<!-- mainContent -->
      <section id="addWorkout">
        <div class="title">
          <h2>Add Exercise</h2>
        </div>


      </section>



    </div>

  </body>
</html>
