<%- include('layout/header') -%>
  </head>
  <body>
    <div class="container">
<!-- sidebar -->
      <%- include('sidebar/sAddWorkout') -%>

<!-- mainContent -->
      <section id="addWorkout">
        <div class="title">
          <h2>Add Exercise</h2>
        </div>

        <div class="content">
          <label for="">Name: </label>
          <input type="text" name="name" placeholder="Workout name here">
        </div>
      </section>



    </div>

  </body>
</html>
