<%- include('layout/header') -%>
  </head>
  <body>
    <div class="container">
      <!-- sidebar -->
      <%- include('sidebar/sCalendar') -%>
      <!-- mainContent -->
      <section id="calendar">
        <h2>Calendar</h2>
      </section>
    </div>
  </body>
</html>
