<%- include('layout/header') -%>
<link rel="stylesheet" href="/css/partialStyles.css">
  </head>
  <body>
    <div class="container">
<!-- sideBar -->
      <%- include('sidebar/sCalorieCounter') -%>

<!-- Main Contents -->
      <section id="calorieCounter">
        <div class="title">
          <h2>Calorie Counter</h2>
        </div>



      </section>

    </div>

  </body>
</html>
