<%- include('layout/header') -%>
  <body>
    <div class="container">

<!-- sideBar -->
      <%- include('sidebar/sCalorieCounter') -%>

<!-- Main Contents -->

      <section id="calorieCounter">
        <h2>Calorie Counter</h2>


      </section>

    </div>

  </body>
</html>
