<%- include('layout/header') -%>

<body>
  <div class="container">
    <!-- sidebar -->
    <%- include('sidebar/sInfo') -%>
    <!-- mainContent -->
    <section id="info">
      <h2>info</h2>
    </section>
  </div>
</body>
