<%- include('layout/header') -%>
  </head>
  <body>
    <div class="container">
      <!-- sidebar -->
      <%- include('sidebar/sInfo') -%>
      <!-- mainContent -->
      <section id="info">
        <div class="title">
          <h2>info</h2>
        </div>

      </section>
    </div>
  </body>
</html>
