<%- include('layout/header') -%>
  </head>
  <body>
    <div class="container">
      <!-- sidebar -->
      <%- include('sidebar/sProfile') -%>
      <!-- mainContent -->

      <section id="profile">
        <h2>Profile</h2>
      </section>

    </div>

  </body>
</html>
