<%- include('layout/header') -%>
  </head>
  <body>
    <div class="container">
      <!-- sidebar -->
      <%- include('sidebar/sWorkout')-%>
      <!-- mainContent -->
      <section id="workout">
        <h2>Workout</h2>

      </section>
    </div>
  </body>
</html>
