<%- include('layout/header') -%>
  </head>
  <body>
    <div class="container">
      <!-- sidebar -->
      <%- include('sidebar/sWorkout')-%>
      <!-- mainContent -->
      <section id="workout">
        <div class="title">
          <h2>Workout</h2>
        </div>


      </section>
    </div>
  </body>
</html>
