body {
  background-color: #EAEAEA;

  padding: 0;
  margin: 0;
}

h3 {
  margin: 0;
}

div.sItem a {
  text-decoration: none;
  color: inherit;
}

section {
  display: inline-block;
  width: 80%;
/*  */
}

.active {
  background-color: #03EFAE ;
}

.container {
  width: 75%;
  margin: 1.2% auto;

  height: 680px;
  background-color: #FFF;
}

/* sidebar */
.sidebar {
  display: inline-block;
  width: 18%;
  height: 100%;
  background-color: #02AFEA;

  text-align: center;
  float:left; /* float added to level the sidebar with mainContent*/
}

.sItem {
  padding: 2.5% 0;
  background-color: #02EFEA;

  /* border: solid 1px black; */
}

.sItem:hover{
  background-color: #03EFAE;
}


.sideText {
  font-size: 1.5rem;
}

/* Media Query */
@media screen and (max-width:890px) {
  .container {
    width: 90%;
  }
}

@media screen and (max-width:480px) {
  .container {
    width: 98%;
  }
}
